body {
    font-family: Arial, sans-serif;
    background: url("assets/weather.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 400px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.inputs input[type="text"],
.inputs input[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.inputs input[type="submit"] {
    background-color: #88c2ff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.inputs input[type="submit"]:hover {
    background-color: #0056b3;
}

.display {
    text-align: center;
}

.wrapper {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(117, 190, 239, 0.9);
}
.heading{
    color: #0ae6fe;
    position: absolute;
    top: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
    .main {
        width: 250px;
    }
    .heading{
        text-align: center;
        font-size: 3rem;
    }
}